# ======================
# Node.js / Frontend
# ======================
node_modules/
dist/
.env
.vite/
build/

# ======================
# Vite / React / Temporary
# ======================
**/.vite/
**/build/
**/dist/

# ======================
# .NET / Backend
# ======================
**/bin/
**/obj/
**/.vs/
**/Properties/launchSettings.json
**/*.user
**/*.suo
**/appsettings.json
**/appsettings.Development.json

# ======================
# IDE / OS
# ======================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log
logs/